{% extends "base.html" %}
{% block content %}
    <div class="container">
        <form id="create-product-form" method="post" action="" enctype="multipart/form-data">
            <div class="formm">
                <div class="form-group">
                    <label for="product-title">Название товара</label>
                    <input type="text" name="product-title" class="form-control" id="product-title"
                           placeholder="Название товара">
                </div>
                <div class="form-group">
                    <label for="product-category">Категория товара</label>
                    <select class="form-control" name="product-category" id="product-category">
                        {% for category in categorys %}
                            <option>{{ category[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="product-description">Описание товара</label>
                    <textarea class="form-control" rows="3" name="product-description" id="product-description"
                              placeholder="Описание товара"></textarea>
                </div>
                <div class="form-group">
                    <label for="product-price">Цена товара</label>
                    <input class="form-control" type="number" id="product-price" name="product-price" min="1"
                           step="any">
                </div>
                <div class="add form-group form-control">
                    <p class="center">Добавить фото товара</p>
                </div>
                <input type="hidden" name="quality" value="" id="quality">
                <button type="button" onclick="chekProduct()" class="btn btn-success">Добавить товар</button>
            </div>
        </form>
    </div>
{% endblock content %}